// Custom colors variables and mixins

$urban-main-cyan: #1696d2;
$urban-main-gray: #d2d2d2;
$urban-main-black: #000000;

$urban-secondary-yellow: #fdbf11;
$urban-secondary-megenta: #ec008b;

$urban-tertiary-spacegray: #5c5859;
$urban-tertiary-green: #55b748;
$urban-tertiary-red: #db2b27;
